#app {
  margin: auto;
  margin-top: 2rem;
  width: 540px;
  height: 400px;
  background-color: rgba(128, 128, 128, 0.411);
  border: 3px solid black;
}

#title {
  font-size: 24pt;
  margin-left: 2rem;
}

hr {
  width: 95%;
  margin: 1rem;
}

.flex {
  display: flex;
}

.film-list {
  height: 200px;
  flex-direction: column;
  justify-content: space-around;
}

li {
  font-size: 18pt;
  margin-left: 2rem;
  padding-left: 2rem;
}

a {
  text-decoration: none;
}

a, a:visited {
  color: blue;
}

#more-release-button-area {
  height: 3rem;
  justify-content: center;
  align-items: center;
}

#more-releases-button {
  margin: 1rem;
  border: 2px solid black;
  padding: 1rem 3rem;
  background-color: rgba(0, 183, 255, 0.383);
  font-size: 20pt;
}